.blogs{
    &_navber{
        background-color: $darkRed;
        @include RWD($md){
            display: none;
        }
        .container{
            justify-content: space-between;
            align-items: center;
            color:$txtLight;
        }
        &_list{
            padding: 13px 0;
        }
        &_item{
            @include notoSans(20px,700);
            &:hover{
                opacity: 0.8;
            }
        }
        &_icon{
            @include font-size(30px);
        }
    }
}