.footer {
    background-color: $primary;
    color: $txtLight;
    padding: 48px 0 32px 0;

    @include RWD($lg) {
        padding: 48px 0px 32px 0px;
    }

    @include RWD($md) {
        padding: 24px 0px 24px 0px;
    }

    .top {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $txtLight;

        @include RWD($md) {
            flex-direction: row-reverse;
            align-items: start;
        }

        .navBarFooter {
            width: 50%;

            @include RWD($lg) {
                width: 70%;
            }

            @include RWD($md) {
                display: none;
            }

            &_item {
                @include notoSans(16px, 400);
                transition: all 0.3s;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .socialIC {
            width: 50%;
            justify-content: end;

            @include RWD($lg) {
                width: 30%;
            }

            &_item {
                width: 48px;
                height: 48px;
                transition: all 0.3s;
                &:hover{
                    opacity: 0.8;
                }
                @include RWD($lg) {
                    width: 40px;
                    height: 40px;
                }

                @include RWD($md) {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .content {
            &_item {
                @include notoSans(36px, 400);

                @include RWD($md) {
                    @include notoSans(16px, 400)
                }
                transition: all 0.3s;
                &:hover {
                    opacity: 0.8;
                }

                a {
                    display: flex;
                    align-items: center;
                }

                i {
                    @include RWD($md) {
                        @include font-size(24px)
                    }
                }
            }
        }
    }

    .trademark {
        justify-content: space-between;
        align-items: center;

        @include RWD($md) {
            flex-direction: column;
            align-items: start;
        }

        .trademark_item {
            @include roboto(16px, 400);

            @include RWD($md) {
                flex-direction: column;
            }

            .title {
                @include notoSans(14px, 400);
                transition: all 0.3s;
                &:hover{
                    opacity: 0.8;
                }
                @include RWD($md) {
                    @include notoSans(16px, 400);
                }
            }
        }
    }
}