<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&family=Roboto:ital,wght@0,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/fc0067d5fd.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="header">
    <div class="container df">
      <a href="index.html"><h1 class="header_logo">logo</h1></a>
      <!-- 漢堡選單 -->
      <div class="rwdBtn"><i class="fa-solid fa-bars"></i></div>
      <nav class="navBar">
        <ul class="navBar_list df  ">
          <li class="navBar_item mr-16 mr-0-md"><a href="product.html">系列鏡框</a></li>
          <li class="navBar_item mr-16 mr-0-md"><a href="#">門市據點</a></li>
          <li class="navBar_item mr-16 mr-0-md"><a href="#">部落格</a></li>
          <li class="navBar_item"><a href="faq.html">常見問題</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="top df mb-8 mb-4-md">
          <ul class="df navBarFooter mb-6">
              <li class="navBarFooter_item mr-12"><a href="index.html">首頁</a></li>
              <li class="navBarFooter_item mr-12"><a href="product.html">系列鏡框</a></li>
              <li class="navBarFooter_item mr-12"><a href="#">門市據點</a></li>
              <li class="navBarFooter_item mr-12"><a href="#">部落格</a></li>
              <li class="navBarFooter_item"><a href="faq.html">常見問題</a></li>
          </ul>
          <ul class="df socialIC mb-6">
              <li class="socialIC_item mr-8 mr-4-lg mr-2-md"><a href="#"><img src="./assets/images/week3-4/ic-social-fb.png" alt=""></a>
              </li>
              <li class="socialIC_item mr-8 mr-4-lg mr-2-md"><a href="#"><img src="./assets/images/week3-4/ic_social_ig.png" alt=""></a>
              </li>
              <li class="socialIC_item "><a href="#"><img src="./assets/images/week3-4/ic_social_line.png" alt=""></a></li>
          </ul>
          <ul class="content">
              <li class="content_item mb-2"><a href="tel:090000000"><i class="fa-solid fa-phone mr-5 mr-2-md"></i>0800-000-000</a></li>
              <li class="content_item mb-8 mb-6-md"><a href="mailto:test@gmail.com"><i class="fa-solid fa-envelope mr-5 mr-2-md"></i>glasses@business.com</a></li>
          </ul>
      </div>
      <ul class="df trademark">
          <li class="trademark_item mb-2-md">Copyright © 2020 Glasses.All rights reserved.</li>
          <li class="trademark_item df">
              <a href="#" class="title mr-12 mb-2-md">隱私權政策</a>
              <a href="#" class="title">服務條款</a>
          </li>      
      </ul>
  </div>
  </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>