.article_navber{
    @include RWD($md){
        display: block;
    }
    .blogs_navber{
        &_list{
            width: 100%;
            @include RWD($md){
                justify-content: space-between;
            }
        }
        &_item{
            @include RWD($md){
                @include font-size(16px)
            }
        }
        &_icon{
            @include RWD($md){
                display: none;
            }
        }
    }
}

.article_nav{
    &_item{
        @include notoSans(16px,400);
        &:hover{
            opacity: 0.5;
        };
        &:last-child{
            color:$primary;
        }
    }
    .tag_nav{
        color:$primary;
        @include roboto(24px,700);
        &_link{
            &:hover{
                opacity: 0.5;
            };
        }
        @include RWD($md){
            @include font-size(16px)
        }
    }
}

.article{
    &_point{
        @include notoSans(48px,400);
        @include RWD($md){
            @include font-size(24px)
        }
    }
    &_title{
        @include roboto(24px,500);
        @include RWD($md){
            @include font-size(16px)
        }
    }
    &_top{
        justify-content: space-between;
    }
    &_control{
        width: 68%;
        @include RWD($md){
            width: 100%;
        }
    }
    &_tags{
        width: 30%;
        color:$primary;
        @include roboto(24px,700);
        &_point{
            @include font-size(32px);
            @include RWD($lg){
                @include font-size(16px);
            }
        }

        @include RWD($lg){
            @include font-size(16px)
        }
        @include RWD($md){
            display: none;
        }
    }
    &_context{
        @include notoSans(16px,400)
    }
    // footer
    &_footer{
        width: 68%;
        @include RWD($lg){
            width: 100%;
        }
        @include RWD($md){
            display: none;
        }
        &_topList{
            align-items: center;
            border-bottom: 1px solid $gray;
            @include roboto(16px,700);
            i{
                @include font-size(24px)
            }
        }
        &_downList{
            justify-content: space-between;
            @include notoSans(16px,400);
        }
    }
}