.firstView {
    background-image: url(../images/week3-4/home-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 787px;
    color: $darkRed;
    @include RWD($lg){
        background-image: url(../images/week3-4/home-header-sm.png);
    }
    @include RWD($md){
        height: 396px;
    }
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
    }
    &_title{
        @include notoSans(36px,400);
        @include RWD($md){
            @include font-size(16px)
        }
    }
    &_point{
        @include notoSans(64px,700);
        @include RWD($md){
            @include font-size(24px)
        }
    }
    &_btn{
        color: $txtLight;
        background-color: $primary;
        @include notoSans(20px,500);
        padding: 6px 12px;
        &:hover{
            opacity: 0.7;
        }
    }
}
.specialty{
    background-color: $light;
    
    &_point{
        color: $darkRed;
        text-align: center;
        @include notoSans(48px,700);
        @include RWD($md){
            @include font-size(24px)
        }
    }
    &_list{
        justify-content: space-between;
        align-items: center;
        text-align: center;
        @include RWD($lg){
            flex-wrap: wrap;
            align-items: start;
        }
    }
    &_item{
        width: 25%;
        @include notoSans(16px,400);
        // flex-direction: column;
        // align-items: center;
        @include RWD($lg){
            width: 48%;
        }
        @include RWD($md){
            width: 100%;
        }
        &_img{
            width: 100px;
            height: 100px;
        }
        &_pointSecond{
            color:$darkRed;
            @include notoSans(24px,700)
        }
    }
    
}
.classic{
    &_point{
        text-align: center;
        color:$darkRed;
        @include notoSans(48px,700);
        @include RWD($md){
            @include font-size(24px);
        }
    }
    .container{
        padding: 0 12px;
    }
    &_list{
        margin: 0 -12px;
        @include RWD($lg){
            flex-direction: column;
        }
    }
    &_item{
        text-align: center;
        width: 33.333%;
        padding: 0 12px;
        @include RWD($lg){
            width: 100%;
        }
        
        // &_img{
        //     @include RWD($lg){
        //         max-width: 336px;
        //     }
        //     @include RWD($md){
        //         max-width: 348px;
        //     }
        // }
        &_link{
            color: $primary;
            @include roboto(48px,900);
            @include font-style;
            &:hover{
                color:$darkRed;
            }
            @include RWD($lg){
                display: block;
            }
        }
    }
}
.design{
    background-image: url(../images/week3-4/index-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &_point{
        text-align: center;
        color:$txtLight;
        @include notoSans(48px,700);
        @include RWD($md){
            @include font-size(24px);
        }
    }
    &_list{
        align-items: center;
        @include RWD($lg){
            flex-direction: column; 
        }
    }
    &_item{
        width: 50%;
        background-color: $txtLight;
        text-align: center;
        @include RWD($lg){
            width: 100%;
        }
        &_link{
            @include font-style;
            @include roboto(48px,900);
            color:$primary;
            &:hover{
                color: $darkRed;
            }
        }
    }
}
.popular{
    &_point{
        text-align: center;
        color:$darkRed;
        @include notoSans(48px,700);
        @include RWD($md){
            @include font-size(24px);
        }
    }
    &_list{
        justify-content: space-between;
        @include RWD($lg){
            flex-wrap: wrap;
        }
    }
    &_item{
        flex-direction: column;
        box-shadow: 0px 2px 6px #00000029;
        border-radius: 0px 0px 3px 3px;
        @include RWD($lg){
            width: 48%;
        }
        @include RWD($md){
            width: 100%;
        }
        &_content{
            flex-grow:1;
            flex-direction: column;
            @include notoSans(16px,400);
            .date{
                @include notoSans(14px,400);
                color: $gray;
            }
        }
        &_title{
            flex-grow:1;
        }
    }
}
.contact{
    background-color: $light ;
    .container{
        width: 50%;
        @include RWD($lg){
            width: 90%;
        }
        @include RWD($md){
            width: 100%;
        }
    }
    &_point{
        text-align: center;
        color:$darkRed;
        @include notoSans(48px,700);
        @include RWD($md){
            @include font-size(24px);
        }
    }
    &_title{
        @include notoSans(20px,400);
        @include RWD($md){
            @include font-size(16px);
        }
    }
    &_form{
        flex-direction: column;
        &_label{
            @include notoSans(16px,400);
            cursor: pointer;
        };
        &_input,&_textarea{
            @include notoSans(16px,400);
            padding: 6px 0 12px 6px;
        }
        &_textarea{
            resize:none
        }
        &_checkBox{
            align-items: start;
                @include notoSans(16px,400);            
        }
        &_submit{
            width: 60%;
            margin: 0 auto;
            color: $txtLight;
            background-color: $primary;
            border: none;
            @include notoSans(16px,400);
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                color:$primary;
                background-color: $txtLight;
            }
            @include RWD($md){
                width: 100%;
            }
        }
    }

}