.product_links{
    &_list{
        justify-content: center;
    }
    &_item{
        width: 432px;
        @include roboto(32px,500);
        text-align: center;
        border: 1px solid $lightLine;
        border-bottom: 8px solid $txtLight;
        &:hover{
            border-bottom: 8px solid $primary;
        }
        @include RWD($lg){
            width: 256px;
            @include font-size(24px)
        }
        @include RWD($md){
            @include font-size(16px)
        }
    }
    &_active{
        border-bottom: 8px solid $primary;
    }
    &_link{
        display: block;
        width: 100%;
    }
}
.productBanner{
    picture{
        width: 50%;
    }
}
.product{
    // 標題
    &_titleControl{
        text-align: center;
    }
    &_point{
        @include roboto(42px,500)
    }
    &_caption{
        @include notoSans(32px,500)
    }
    // 卡片容器
    &_list{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &_item{
        width: 23%;
        @include RWD($lg){
            width: 48%;
        }
        @include RWD($md){
            width: 100%;
        }
    }
    // 卡片
    &_detail{
        justify-content: space-between;
    }
    &_name{
        @include roboto(24px,700);
    }
    &_price{
        color: $primary;
        @include roboto(24px,500)
    }
    &_colors{
        &_item{
            display: inline-block;
            width: 24px;
            height: 24px;
        }
        .color1{background-color: $brown-dark;}
        .color2{background-color: $brown;}
    }
}   
