.storeBase{
    &_point{
        @include notoSans(48px,700);
        &::before{
            content: "";
            width: 8px;
            height: 72px;
            background-color: $primary;
            margin-right: 16px;
            @include RWD($md){
                height: 36px;
            }
        }
        @include RWD($md){
            @include font-size(24px)
        }
    }
    // choose city
    &_choose{
        align-items: center;
    }
    &_title{
        @include notoSans(24px,400);
        @include RWD($md){
            @include font-size(16px)
        }
    }
    &_chooseCity{
        width: 304px;
        padding: 6px 12px;
        @include notoSans(18px,400) ;
        @include RWD($md){
            width: 276px;
        }
    }
    // card
    &_list{
        flex-wrap: wrap;
        @include RWD($lg){
            justify-content: space-between;
        }
    }
    &_item{
        width: 31.3333%;
        @include RWD($lg){
            width: 48%;
        }
        @include RWD($md){
            width: 100%;
        }
        &_name{
            @include notoSans(24px,400);
            padding: 8px 24px;
            border: 1px solid $grayBorder;
        }
        &_control{
            padding: 16px 24px;
            border: 1px solid $grayBorder;
        }
        &_tel,&_time,&_address{
            @include notoSans (20px,400);
        }
        &_link{
            display: block;
            width: 100%;
            text-align: center;
            background-color: $dark;
            color:$txtLight;
            @include notoSans(19px,400);
            transition: all 0.3s;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}