@import "./base/reset";

//mixin
@import "./mixin/variables";
@import "./mixin/mixin";
@import "./mixin/spacing";

//component 
@import "./component/pagination";

// layout
@import "./layout/header";
@import "./layout/footer";

// page
@import "./page/home";
@import "./page/faq";
@import "./page/product";
@import "./page/productSecond";