@import "./base/reset";

//mixin
@import "./mixin/variables";
@import "./mixin/mixin";
@import "./mixin/spacing";

//component 
@import "./component/pagination";
@import "./component/blogNavber";

// layout
@import "./layout/header";
@import "./layout/footer";

// page
@import "./page/home";
@import "./page/faq";
@import "./page/product";
@import "./page/productSecond";
@import "./page/stores";
@import "./page/store";
@import "./page/blogs";
@import "./page/blog";