// font-size & line-height
@mixin font-size ($font-size) {
    font-size: $font-size ;    
    line-height: $font-size * 1.5 ;
};  


// font-family & font-weight &font-style
@mixin roboto($font-size,$font-weight) {
    font-family: $font-roboto;
    font-weight: $font-weight;
    @include font-size($font-size)
};
@mixin notoSans($font-size,$font-weight) {
    font-family: $font-notoSans;
    font-weight: $font-weight;
    @include font-size($font-size)
};
@mixin font-style {
    font-style: italic;
}
// 斷點設定
@mixin RWD ($breakPoint) {
    @media(max-width:$breakPoint){
        @content
    }
};

// container
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
  
    @include RWD($lg) {
      max-width: 720px; //696+12+12
    }
  
    // @include RWD($md){
    //   max-width: 373px; // 349+12+12
    // }
  }
  
  .df {
    display: flex;
  }
  