.pt-1{padding-top: 4px;}
.pt-2{padding-top: 8px;}
.pt-3{padding-top: 12px;}
.pt-4{padding-top: 16px;}
.pt-5{padding-top: 20px;}
.pt-6{padding-top: 24px;}
.pt-7{padding-top: 28px;}
.pt-8{padding-top: 32px;}
.pt-9{padding-top: 36px;}
.pt-10{padding-top: 40px;}
.pt-20{padding-top: 80px;}
.pt-24{padding-top: 96px;}

.pb-1{padding-bottom: 4px;}
.pb-2{padding-bottom: 8px;}
.pb-3{padding-bottom: 12px;}
.pb-4{padding-bottom: 16px;}
.pb-5{padding-bottom: 20px;}
.pb-6{padding-bottom: 24px;}
.pb-7{padding-bottom: 28px;}
.pb-8{padding-bottom: 32px;}
.pb-9{padding-bottom: 26px;}
.pb-10{padding-bottom: 40px;}
.pb-20{padding-bottom: 80px;}

.mt-1{margin-top: 4px;}
.mt-2{margin-top: 8px;}
.mt-3{margin-top: 12px;}
.mt-4{margin-top: 16px;}
.mt-5{margin-top: 20px;}
.mt-6{margin-top: 24px;}
.mt-7{margin-top: 28px;}
.mt-8{margin-top: 32px;}
.mt-9{margin-top: 36px;}
.mt-10{margin-top: 40px;}
.mt-14{margin-top: 56px;}
.mt-20{margin-top: 80px;}

.mb-1{margin-bottom: 4px;}
.mb-2{margin-bottom: 8px;}
.mb-3{margin-bottom: 12px;}
.mb-4{margin-bottom: 16px;}
.mb-5{margin-bottom: 20px;}
.mb-6{margin-bottom: 24px;}
.mb-7{margin-bottom: 28px;}
.mb-8{margin-bottom: 32px;}
.mb-9{margin-bottom: 36px;}
.mb-10{margin-bottom: 40px;}
.mb-12{margin-bottom: 48px;}
.mb-14{margin-bottom: 56px;}
.mb-18{margin-bottom: 72px;}
.mb-20{margin-bottom: 80px;}

.ml-1{margin-left: 4px;}
.ml-2{margin-left: 8px;}
.ml-3{margin-left: 12px;}
.ml-4{margin-left: 16px;}
.ml-5{margin-left: 20px;}
.ml-6{margin-left: 24px;}
.ml-7{margin-left: 28px;}
.ml-8{margin-left: 32px;}
.ml-9{margin-left: 36px;}
.ml-10{margin-left: 40px;}

.mr-1{margin-right: 4px;}
.mr-2{margin-right: 8px;}
.mr-3{margin-right: 12px;}
.mr-4{margin-right: 16px;}
.mr-5{margin-right: 20px;}
.mr-6{margin-right: 24px;}
.mr-7{margin-right: 28px;}
.mr-8{margin-right: 32px;}
.mr-9{margin-right: 36px;}
.mr-10{margin-right: 40px;}
.mr-12{margin-right: 48px;}
.mr-16{margin-right: 64px;}

// rwd
@include RWD($lg){
    .pt-20-lg{padding-top: 80px;}
    .mr-0-lg{margin-right: 0;}
    .mr-4-lg{margin-right: 16px;}
    .mb-6-lg{margin-bottom: 24px;}
}
@include RWD($md){
    .mr-0-md{margin-right: 0;}
    .mr-2-md{margin-right: 8px;}
    .mb-2-md{margin-bottom: 8px;}
    .mb-4-md{margin-bottom: 16px;}
    .mb-6-md{margin-bottom: 24px;}
    
    .pt-10-md{padding-top: 40px;}
    .pb-10-md{padding-bottom: 40px;}
    .pb-16-md{padding-bottom: 64px;}
}
// 特殊
.p-4{padding: 16px;}
