// color
$primary : #AA0601;
$light: #FBF2F2;
$dark: #000000;
$txtLight: #fff;
$darkRed: #650300;
$gray:#707070;
$lightGray:#555555;
$lightLine:#DCDCDC;
$brown:#B75929;
$brown-dark:#5F3E2D;

// font
$font-roboto: "Roboto", sans-serif;
$font-notoSans: "Noto Sans TC", sans-serif;

// grid
$lg:992px;
$md:767px;
$sm:576px;
$xs:414px;